html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-image: url(pictures/backgroundImage.png);
    background-size: 100%;
}
a{
    text-decoration: none;
}

@font-face {
    font-family: chinese;
    src: local('微軟正黑體');
    unicode-range: U+4E00–9FD5;
}

#container{
    width: 100%;
    height: 100%;
    position: relative;
}

#list{
    width: 400px;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.5);
    position: relative;
    
}
#list ul{
    position: absolute;
    margin-top: 350px;
    padding: 0;
    list-style: none;
}

#list li{
    padding-top:10px;
    width: 400px;
    height: 50px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    display: block;
    text-decoration: none;
    text-align: center;
    transition: background-color .25s;
}
#list li:hover{
    background-color: rgba(255, 255, 255, 0.75)
}
#logo{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 100px;
    top: 60px;
}
#piece1{
    width: 25px;
    height: 150px;
    background-color: rgb(255, 210, 63);
    position: absolute;
    top: 0;
    left: 0px;
}
#piece2{
    border-width: 75px 75px 75px 0;
    border-color: transparent rgb(63, 210, 255) transparent transparent;
    border-style: solid;
    transform: rotate(45deg);
    position: absolute;
    top: -24px;
    left: 35px;
}
#piece3{
    border-width: 0 75px 75px 75px;
    border-color: transparent transparent rgb(0, 156, 218) transparent;
    border-style: solid;
    position: absolute;
    top: 100px;
    left: 30px;
}
#main{
    width: calc(100% - 400px);
    height: 100%;
    position: absolute;
    padding-top: 60px;
    top: 0;
    left: 400px;
    
}
.article{
    color: #fff;
    margin-left: 100px;
}
.title{
    font-size: 100px;
    font-family:'Franklin Gothic Medium',chinese, 'Arial Narrow', Arial, sans-serif;
}

.subtitle{
    font-size: 70px;
    font-family:'Franklin Gothic Medium',chinese, 'Arial Narrow', Arial, sans-serif;
    
    margin-left: 20px;
}
.content{
    font-size: 36px;
    margin-left: 40px;
    margin-bottom: 10px;
    padding-right: 100px;
    font-family: 'Gill Sans',chinese, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.pictures{
    width: 90%;
}
.picture{
    width: 302px;
    height: 180px;
    margin: 10px;
    border: 10px solid hsla(0, 0%, 100%, 0.5);
    transition: all .25s;
    display: inline-block;
}
.picture:hover{
    transform: scale(2);
}
.color1{
    background-color: rgb(255, 210, 63)
}

.color2{
    background-color: rgb(63, 210, 255)
}
.color3{
    background-color: rgb(0, 156, 218)
}



@media (max-width: 1800px){
    .picture{
        width: 202px;
        height: 125px;
        margin: 6px;
        border: 6px solid hsla(0, 0%, 100%, 0.5)
    }
    .picture:hover{
        transform: scale(2.5);
    }
}
@media (max-width: 1400px){
    body{
        background-size: 1400px;
        background-position: center;
    }
    .title{font-size: 70px;}
    .subtitle{font-size: 54px;}
    .content{font-size: 28px;}
    .picture{
        width: 150px;
        height: 93px;
    }
    .picture:hover{
        transform: scale(1.5);
    }
    #list{
        width: 300px;
    }
    #list li{
        width: 300px;
    }
    #logo{
        transform: scale(.75);
        left: 60px;
    }
    #main{
        width: calc(100% - 300px);
        left: 300px;
    }

}

@media (max-width: 800px){
    body{
        overflow-y: visible
    }
    .title{
        font-size: 30px;
    }
    .subtitle{
        font-size:24px;
        margin: 0;
        
    }
    .content{
        font-size: 20px;
        padding: 0 10px 0 20px;
        margin: 10px 0 0 0;
        text-align: left;
    }
    .article{
        margin: 0;
        text-align: center;
        min-height: 600px;
    }

    .picture{
        width: 202px;
        height: 125px;
        margin: 18px;
        border: 6px solid hsla(0, 0%, 100%, 0.5)
    }
    .pictures{
        text-align: center;
        width: 100%;
    }
    #list{
        height: 230px;
        width: 100%;
    }
    #list ul{
        width: 100%;
        margin-top: 90px;
    }
    #list li{
        width: 100%;
        font-size: 18px;
        height: 36px;
        line-height: 26px;
    }
    #logo{
        margin-top: 10px;
        top: -40px;
        transform: scale(.25);
        left: calc(50% - 75px);
    }
    #main{
        margin-top: 0;
        padding-top: 30px;
        width: 100%;
        min-height: 500px;
        height: auto;
        top: 228px;
        left: 0; 
        border-top: dashed hsla(0, 0%, 100%, 0.75) 4px;
    }
    
}





